/* 푸터 스타일 */
.footer {
  background-color: #003f5c;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  position: relative; /* 부모 요소의 흐름을 유지 */
  width: 100%;
  margin-top: 100px;
}

/* 소셜 아이콘 */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.social-icons a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1da1f2;
}

/* 메뉴 스타일 */
.footer-menu {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer-menu a {
  color: #ddd;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
}

/* 마지막 메뉴를 제외하고 세로바 추가 */
.footer-menu a:not(:last-child)::after {
  color: #ddd;
  margin-left: 10px;
}


.footer-menu a:hover {
  color: #fff;
}

/* 회사 정보 */
.footer-info {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* 하단 정보 */
.footer-bottom {
  font-size: 13px;
}

.footer-bottom a {
  color: #ddd;
  margin-right: 10px;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #fff;
}
