.footer {
  background-color: #003f66;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 100px;
  width: 100%; /* 전체 너비를 차지하도록 설정 */
  overflow-x: hidden; /* 가로 스크롤 방지 */
  box-sizing: border-box; /* 패딩 포함한 크기 유지 */
}

.footer-top {
  font-size: 18px;
  margin-top: 30px;
  display: flex; 
  justify-content: center; /* 중앙 정렬 */
  flex-wrap: wrap; /* 요소들이 넘칠 경우 줄바꿈 */
  gap: 20px; /* 아이콘 간격 조절 */
}

.footer-top i {
  margin-right: 15px;
}

.highlight-num {
  font-size: 22px;
  font-weight: bold;
}

.footer-top span {
  margin-right: 50px; 
}

.footer-info {
  font-size: 13px;
  margin-top: 50px;
}

/* 전체 페이지에서 가로 스크롤 제거 */
html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
